{% extends "weather_app/base.html" %}

{% block content %}

{% if message %}
{% include 'weather_app/widgets/message.html' %}
{% endif %}

{% if found_locations %}


<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <div class="card card-lightblue shadow">
            <div class="card-header">
                <h3 class="card-title">Select location</h3>
            </div>
            <div class="card-body">

                    {% for location in found_locations %}

                    <p>
                    <form action="{% url 'weather_dashboard' %}" method="GET">
                        <input type="hidden" name="latitude" value="{{ location.geometry.coordinates.1 }}">
                        <input type="hidden" name="longitude" value="{{ location.geometry.coordinates.0 }}">
                        <input type="hidden" name="label" value="{{ location.properties.label }}">
                        <button type="submit" class="btn btn-block btn-outline-secondary">
                            {{ location.properties.label }}
                        </button>
                    </form>
                    </p>
            
                    {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}