{% extends "weather_app/base.html" %}

{% block content %}

{% if message %}
{% include 'weather_app/widgets/message.html' %}
{% endif %}

{% if found_locations %}


<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <div class="card card-lightblue shadow">
            <div class="card-header">
                <h3 class="card-title">Select location</h3>
            </div>
            <div class="card-body">

                    {% for location in found_locations %}

                    <p>
                    <form action="{% url 'set_location' %}" method="GET">
                        {% csrf_token %}
                        <input type="hidden" name="location_index" value="{{ forloop.counter }}">
                        <button type="submit" class="btn btn-block btn-outline-secondary">
                            {{ location.properties.label }}
                        </button>
                    </form>
                    </p>
            
                    {% endfor %}

            </div>
        </div>
    </div>
</div>



<!-- <div class="card card-lightblue shadow">
    <div class="card-header">
        <h3 class="card-title">Select location</h3>
    </div>
    <div class="card-body">

        {% for location in found_locations %}

        <p>
        <form action="{% url 'set_location' %}" method="GET">
            {% csrf_token %}
            <input type="hidden" name="location_index" value="{{ forloop.counter }}">
            <button type="submit" class="btn btn-block btn-outline-secondary">
                {{ location.properties.label }}
            </button>
        </form>
        </p>

        {% endfor %}

    </div>
</div> -->

{% endif %}

{% endblock content %}