{% extends "weather_app/base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-6 col-xl-4">

        {% include 'weather_app/widgets/weather/current/summary.html' %}

    </div>
    <div class="col-lg-6 col-xl-4">
        
        {% include 'weather_app/widgets/weather/forecast/1h_precipitation_chart.html' %}

    </div>
    <div class="col-lg-6 col-xl-4">
        
        {% include 'weather_app/widgets/weather/current/details_table.html' %}

    </div>
    <div class="col-lg-6 col-xl-4">
        
        {% include 'weather_app/widgets/weather/current/air_pollution.html' %}

    </div>
</div>

{% endblock content %}