<!-- current_summary.html -->
<div class="info-box bg-lightblue shadow">
    <div class="info-box-content" style="text-align: center">
        <h3>{{ location.label }}</h3>
        <small>Latitude: {{ location.latitude }}</small>
        <small>Longitude: {{ location.longitude }}</small>
        <br>
        <h4>{{ weather.current.dt|date:"D, j. M Y, H:i" }}</h4>
        <div>
            <span class="badge bg-white">Timezone: {{ weather.timezone }}</span>
        </div>
        <h2>
            <img src="https://openweathermap.org/img/wn/{{ weather.current.weather.0.icon }}@2x.png"
                alt="{{ weather.current.weather.0.description|capfirst }}">
            <b>{{ weather.current.temp|floatformat:1 }} °C</b>
        </h2>
        <h4>Feels like {{ weather.current.feels_like|floatformat:1 }} °C</h4>
        <h4>{{ weather.current.weather.0.description|capfirst }}</h4>
        <br>
        <h4>Air quality</h4>
        <h2>
            {% if air_pollution.list.0.main.aqi == 1 %}
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            {% elif air_pollution.list.0.main.aqi == 2 %}
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            {% elif air_pollution.list.0.main.aqi == 3 %}
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            {% elif air_pollution.list.0.main.aqi == 4 %}
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            {% elif air_pollution.list.0.main.aqi == 5 %}
            <i class="fas fa-star" style="color: gold;"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            <i class="far fa-star" style="color: darkslategray"></i>
            {% endif %}
        </h2>
    </div>
</div>