<div class="card card-lightblue collapsed-card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-info" style="width: 1.5em; text-align: left"></i>
            Current weather details
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
            </button>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0" style="display: none;">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row" style="width: 1em; text-align: center"><i class="fas fa-tachometer-alt"></i></th>
                    <th scope="row">Atmospheric pressure on the sea level</th>
                    <td style="text-align: right">{{ weather.current.pressure }}</td>
                    <td style="text-align: left">hPa</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em; text-align: center"><i class="fas fa-tint"></i></th>
                    <th scope="row">Humidity</th>
                    <td style="text-align: right">{{ weather.current.humidity }}</td>
                    <td style="text-align: left">%</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em; text-align: center"><i class="fas fa-thermometer-half"></i></th>
                    <th scope="row">Dew point</th>
                    <td style="text-align: right">{{ weather.current.dew_point|floatformat:1 }}</td>
                    <td style="text-align: left">°C</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="fas fa-cloud"></i></th>
                    <th scope="row">Cloudiness</th>
                    <td style="text-align: right">{{ weather.current.clouds }}</td>
                    <td style="text-align: left">%</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="fas fa-umbrella-beach"></i></th>
                    <th scope="row">UV index</th>
                    <td style="text-align: right">{{ weather.current.uvi }}</td>
                    <td style="text-align: left"><a href="https://wikipedia.org/wiki/uv_index" target="_blank">
                            <i class="fas fa-info-circle"></i>
                        </a></td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="far fa-eye"></i></th>
                    <th scope="row">Visibility (average)</th>
                    <td style="text-align: right">{{ weather.current.visibility }}</td>
                    <td style="text-align: left">m</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="fas fa-wind"></i></th>
                    <th scope="row">Wind speed</th>
                    <td style="text-align: right">{{ weather.current.wind_speed|floatformat:1 }}</td>
                    <td style="text-align: left">m/sec.</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="fas fa-wind"></i></th>
                    <th scope="row">Wind gust</th>
                    <td style="text-align: right">{{ weather.current.wind_gust|floatformat:1 }} </td>
                    <td style="text-align: left">m/sec.</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="far fa-compass"></i></th>
                    <th scope="row">Wind direction</th>
                    <td style="text-align: right">{{ weather.current.wind_deg }}</td>
                    <td style="text-align: left">deg.</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="fas fa-cloud-rain"></i></th>
                    <th scope="row">Rain volume for last 1 hour</th>
                    <td style="text-align: right"> {% firstof weather.current.rain.1h '0' %}</td>
                    <td style="text-align: left">mm/h</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="far fa-snowflake"></i></th>
                    <th scope="row">Snow volume for last hour</th>
                    <td style="text-align: right">{% firstof weather.current.snow.1h '0' %}</td>
                    <td style="text-align: left">mm/h</td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="bi bi-sunrise-fill"></i></th>
                    <th scope="row">Sunrise</th>
                    <td style="text-align: right">{{ weather.current.sunrise|date:"H:i" }}</td>
                    <td style="text-align: left"><i class="fas fa-clock"></i></td>
                </tr>
                <tr>
                    <th scope="row" style="width: 1em"><i class="bi bi-sunset-fill"></i></th>
                    <th scope="row">Sunset</th>
                    <td style="text-align: right">{{ weather.current.sunset|date:"H:i" }}</td>
                    <td style="text-align: left"><i class="fas fa-clock"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>