<!-- current_weather_details.html -->
{% extends 'weather_app/widgets/_widget.html' %}
{% block widget_style %}lightblue{% endblock %}
{% block widget_header_icon %}
<i class="fas fa-info-circle" style="width: 1.5em;"></i>
{% endblock %}
{% block widget_header_text %}Current weather details{% endblock %}
{% block widget_content %}
<table class="table table-hover">
    <tbody>
        <tr>
            <td style="text-align: center"><i class="fas fa-tachometer-alt"></i></td>
            <td>Atmospheric pressure on the sea level</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.pressure }}</td>
            <td style="text-align: left; padding-left: 0.15em">hPa</td>
        </tr>
        <tr>
            <td style="text-align: center"><i class="fas fa-tint"></i></td>
            <td>Humidity</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.humidity }}</td>
            <td style="text-align: left; padding-left: 0.15em">%</td>
        </tr>
        <tr>
            <td style="text-align: center"><i class="fas fa-thermometer-half"></i></td>
            <td>Dew point</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.dew_point|floatformat:1 }}</td>
            <td style="text-align: left; padding-left: 0.15em">°C</td>
        </tr>
        <tr>
            <td style="text-align: center"><i class="fas fa-cloud"></i></td>
            <td>Cloudiness</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.clouds }}</td>
            <td style="text-align: left; padding-left: 0.15em">%</td>
        </tr>
        <tr>
            <td style="text-align: center"><i class="fas fa-sun"></i></td>
            <td>UV index</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.uvi }}</td>
            <td style="text-align: left; padding-left: 0.15em"><a href="https://wikipedia.org/wiki/uv_index"
                    target="_blank">
                    <i class="fas fa-info-circle"></i>
                </a></td>
        </tr>
        <tr>
            <td style="text-align: center"><i class="fas fa-binoculars"></i></td>
            <td>Visibility (average)</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.visibility }}</td>
            <td style="text-align: left; padding-left: 0.15em">m</td>
        </tr>
        <tr>
            <td style="text-align: center"><i class="fas fa-wind"></i></td>
            <td>Wind speed</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.wind_speed|floatformat:1 }}</td>
            <td style="text-align: left; padding-left: 0.15em">m/s</td>
        </tr>
        {% if weather.current.wind_gust %}
        <tr>
            <td style="text-align: center"><i class="fas fa-wind"></i></td>
            <td>Wind gust</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.wind_gust|floatformat:1 }} </td>
            <td style="text-align: left; padding-left: 0.15em">m/s</td>
        </tr>
        {% endif %}
        <tr>
            <td style="text-align: center"><i class="far fa-compass"></i></td>
            <td>Wind direction</td>
            {# TODO Wind direction description #}
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.wind_deg }}</td>
            <td style="text-align: left; padding-left: 0.15em">°</td>
        </tr>
        {% if weather.current.rain.1h %}
        <tr>
            <td style="text-align: center"><i class="fas fa-cloud-rain"></i></td>
            <td>Rain volume in last 1 hour</td>
            <td style="text-align: right; padding-right: 0.15em"> {{ weather.current.rain.1h }}</td>
            <td style="text-align: left; padding-left: 0.15em">mm/h</td>
        </tr>
        {% endif %}
        {% if weather.current.snow.1h %}
        <tr>
            <td style="text-align: center"><i class="far fa-snowflake"></i></td>
            <td>Snow volume in last 1 hour</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.snow.1h }}</td>
            <td style="text-align: left; padding-left: 0.15em">mm/h</td>
        </tr>
        {% endif %}
        {% if weather.current.sunrise %}
        <tr>
            <td style="text-align: center"><i class="bi bi-sunrise-fill"></i></td>
            <td>Sunrise</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.sunrise|date:"H:i" }}</td>
            <td style="text-align: left; padding-left: 0.15em"><i class="fas fa-clock"></i></td>
        </tr>
        {% endif %}
        {% if weather.current.sunset %}
        <tr>
            <td style="text-align: center"><i class="bi bi-sunset-fill"></i></td>
            <td>Sunset</td>
            <td style="text-align: right; padding-right: 0.15em">{{ weather.current.sunset|date:"H:i" }}</td>
            <td style="text-align: left; padding-left: 0.15em"><i class="fas fa-clock"></i></td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock widget_content %}