<!-- 48h visibility forecast widget -->
{% extends 'weather_app/widget.html' %}
{% block widget_style %}lightblue{% endblock %}
{% block widget_header_icon %}
<i class="fas fa-binoculars" style="width: 1.5em; text-align: left"></i>
{% endblock %}
{% block widget_header_text %}48 h visibility{% endblock %}
{% block widget_content %}
{% if charts.hourly.temp %}
<div class="chart p-2">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class=""></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>
    <canvas id="hourlyVisibilityChart"
        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block;" width="498"
        height="500" class="chartjs-render-monitor">
    </canvas>
</div>
<script>
    {
        const hourly = JSON.parse(document.getElementById('charts').textContent).hourly;
        const ctx = document.getElementById('hourlyVisibilityChart').getContext('2d');
        const hourlyVisibilityChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: hourly.timeline,
                datasets: [{
                    label: 'Average visibility [m]',
                    data: hourly.visibility,
                    cubicInterpolationMode: 'default',
                    backgroundColor: ['rgba(190, 255, 0, 0.5)'],
                    borderColor: ['rgba(95, 127, 0, 1)'],
                    fill: true,
                    borderWidth: 2
                }]
            },
            options: {
                radius: 1.5,
                pointBackground: '#f00',
                scales: {
                    x: {
                        display: true
                    },
                    y: {
                        type: 'logarithmic',
                        min: 1,
                        max: 10000
                    }
                }
            }
        });
    }
</script>
{% else %}
<div style="padding: 1em; text-align: center;">
    Currently not available for {{ location.label }}.
</div>
{% endif %}
{% endblock widget_content %}