{% extends 'weather_app/widget.html' %}

{% block widget_style %}warning{% endblock %}

{% block widget_header_icon %}
<i class="fas fa-exclamation-triangle" style="width: 1.5em; text-align: left"></i>
{% endblock %}

{% block widget_header_text %}Local weather alerts{% endblock %}

{% block widget_content %}


{% if weather.alerts %}
<table class="table table-hover">
    <tbody>
        {% for alert in weather.alerts %}
        <tr>
            <td>
                <h2>{{ alert.event }}</h2>
                {% for tag in alert.tags %}
                <span class="badge bg-danger">{{ tag }}</span>
                {% endfor %}
                <h6>From: {{ alert.start|date:"D, j. M Y, H:i" }}</h6>
                <h6>Until: {{ alert.end|date:"D, j. M Y, H:i" }}</h6>
                {% if alert.sender %}
                <h6>Issued by: {{ alert.sender }}</h6>
                {% endif %}
                {% if alert.description %}
                <h4>Description</h4>
                <p>{{ alert.description }}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div style="padding: 1em; text-align: center;">
    No alert found for {{ location.label }}.
</div>
{% endif %}
    

{% endblock widget_content %}