{% extends 'weather_app/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% include 'weather_app/messages.html' %}
{% elif location and weather %}
<!-- Weather dashboard widgets -->
{{ weather.charts|json_script:"charts" }}
{% load tz %}
{% timezone weather.timezone %}
<div class="card-columns">
    {# TODO 48h Chart widgets #}
    {# TODO 7d Chart widgets #}
    {% include 'weather_app/widgets/current_summary.html' %}
    {% include 'weather_app/widgets/forecast_1h_precipitation.html' %}
    {% include 'weather_app/widgets/current_weather_details.html' %}
    {% include 'weather_app/widgets/current_air_pollution.html' %}
    {% include 'weather_app/widgets/weather_alerts.html' %}
    {% include 'weather_app/widgets/forecast_48h_summary.html' %}
    {% include 'weather_app/widgets/forecast_48h_precipitation.html' %}
    {% include 'weather_app/widgets/forecast_48h_temperature.html' %}
    {% include 'weather_app/widgets/forecast_48h_clouds.html' %}
    {% include 'weather_app/widgets/forecast_48h_humidity.html' %}
    {% include 'weather_app/widgets/forecast_48h_pressure.html' %}
    {% include 'weather_app/widgets/forecast_48h_wind_speed.html' %}
    {% include 'weather_app/widgets/forecast_48h_uv_index.html' %}
    {% include 'weather_app/widgets/forecast_48h_visibility.html' %}
    {% include 'weather_app/widgets/forecast_7d_summary.html' %}
</div>
{% endtimezone %}
{% else %}
<!-- Homepage -->
<div>
    <h2 style="font-weight: 400; text-align: center; margin-top: 1rem; margin-bottom: 2rem;">
        Detailed 7&nbsp;days weather forecast
    </h2>
    <div class="row justify-content-sm-center">
        <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4">
            <!-- Search form -->
            <form action="{% url 'dashboard' %}" method="GET">
                <div class="input-group input-group-md">
                    <input name="search_text" class="form-control" type="search" placeholder="Search location"
                        aria-label="Search location" required>
                    <div class="input-group-append">
                        <button class="btn btn-block btn-secondary btn-md" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <img src="{% static 'earth.svg' %}" alt="Image of the planet Earth"
                style="margin-left: 3rem; margin-right: 3rem; margin-top: 2rem; aspect-ratio: 1;">
            <br>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}