{% for location in message.message.found_locations %}
<form action="{% url 'dashboard' %}" method="GET" style="text-align: center; margin-bottom: 0.75em;">
    <input type="hidden" name="latitude" value="{{ location.geometry.coordinates.1 }}">
    <input type="hidden" name="longitude" value="{{ location.geometry.coordinates.0 }}">
    <input type="hidden" name="label" value="{{ location.properties.label }}">
    <button type="submit" class="btn btn-link">
        {{ location.properties.label }}
    </button>
</form>
{% endfor %}