{% extends "weather_app/base.html" %}

{% block content %}

{% if found_locations %}
  
    <h1>Select location</h1>

    {% for location in found_locations %}

    <p>
        <form action="{% url 'set_location' %}" method="GET">
            {% csrf_token %}
            <input type="hidden" name="location_index" value="{{ forloop.counter }}">
            <button type="submit" class="btn btn-link">
                {% if location.properties.name %}
                {{ location.properties.name }},
                {% endif %}

                {% if location.properties.city %}
                {{ location.properties.city }},
                {% endif %}

                {% if location.properties.region %}
                {{ location.properties.region }},
                {% endif %}

                {% if location.properties.country %}
                {{ location.properties.country }},
                {% endif %}

                {% if location.properties.continent %}
                {{ location.properties.continent }}
                {% endif %}
            </button>
        </form>
    </p>

    {% endfor %}

{% else %}
  
    <h1>No location found...</h1>

{% endif %}

{% endblock content %}