<!-- Login -->
{% extends 'weather_app/base.html' %}
{% block content %}
<div class="row justify-content-sm-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card card-lightblue shadow">
            <div class="card-header">
                <h3 class="card-title" style="margin: 0px; font-weight: bold;">
                    <i class="fas fa-key"></i>
                    Login
                </h3>
            </div>
            <div class="card-body">
                <!-- Go back to Weather -->
                <form action="{% url 'dashboard' %}" method="GET">
                    <input type="hidden" name="display_mode" value="{{ display_mode }}">
                    <input type="hidden" name="label" value="{{ location.label }}">
                    <input type="hidden" name="latitude" value="{{ location.latitude }}">
                    <input type="hidden" name="longitude" value="{{ location.longitude }}">
                    <div style="text-align: left;">
                        <button type="submit" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left"></i>
                            <b>Go back to Weather</b>
                        </button>
                    </div>
                </form>
                <div class="row justify-content-sm-center" style="margin-top: 0.75em; margin-bottom: 0.75em;">
                    <div class="col-sm-9" style="text-align: center;">
                        {% if error_message %}
                        <!-- Error message -->
                        <div class="alert bg-danger">
                            <b>
                                <i class="icon fas fa-exclamation-triangle"></i>
                                {{ error_message }}
                            </b>
                        </div>
                        {% endif %}
                        <form method="POST" style="text-align: left;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <input type="hidden" name="display_mode" value="{{ display_mode }}">
                            <input type="hidden" name="label" value="{{ location.label }}">
                            <input type="hidden" name="latitude" value="{{ location.latitude }}">
                            <input type="hidden" name="longitude" value="{{ location.longitude }}">
                            {% if next_url %}
                            <input type="hidden" name="next_url" value="{{ next_url }}">
                            {% endif %}
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fas fa-key"></i>
                                    Login
                                </button>
                            </div>
                        </form>
                        <hr>
                        Don't have an account yet?
                        <form action="{% url 'register_user' %}" method="GET">
                            <input type="hidden" name="display_mode" value="{{ display_mode }}">
                            <input type="hidden" name="label" value="{{ location.label }}">
                            <input type="hidden" name="latitude" value="{{ location.latitude }}">
                            <input type="hidden" name="longitude" value="{{ location.longitude }}">
                            {% if next_url %}
                            <input type="hidden" name="next_url" value="{{ next_url }}">
                            {% endif %}
                            <button type="submit" class="btn btn-link">Register new user</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}