<!-- Messages -->
<div class="row justify-content-sm-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        {% for message in messages %}
        <!-- Message instance -->
        <div class="card card-{{ message.tags }} shadow">
            <div class="card-header">
                <h3 class="card-title" style="margin: 0px; font-weight: bold;">
                    {% if message.message.icon %}
                    <!-- Message icon -->
                    <i class="{{ message.message.icon }}"></i>
                    {% endif %}
                    <!-- Message header -->
                    {{ message.message.header }}
                </h3>
            </div>
            <div class="card-body">
                {% if message.message.description %}
                <!-- Message description -->
                <div class="row justify-content-sm-center" style="margin-top: 0.75em; margin-bottom: 0.75em;">
                    <div class="col-sm-9" style="text-align: center;">
                        {{ message.message.description }}
                    </div>
                </div>
                {% endif %}
                {% if message.message.search_results %}
                {# TODO Separate Search Results #}
                <!-- Location search results -->
                <div class="row justify-content-sm-center" style="margin-bottom: 0.75em;">
                    <div class="col-sm-9">
                        {% for location in message.message.search_results %}
                        <form action="{% url 'dashboard' %}" method="GET"
                            style="text-align: center; margin-bottom: 0.75em;">
                            <input type="hidden" name="latitude" value="{{ location.geometry.coordinates.1 }}">
                            <input type="hidden" name="longitude" value="{{ location.geometry.coordinates.0 }}">
                            <input type="hidden" name="label" value="{{ location.properties.label }}">
                            <button type="submit" class="btn btn-link">
                                {{ location.properties.label }}
                            </button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if message.message.show_search_form %}
                <!-- Search form -->
                <form action="{% url 'search_location' %}" method="GET">
                    <div class="input-group input-group-sm">
                        <input name="search_query" class="form-control" type="search" placeholder="Search location"
                            aria-label="Search location" required>
                        <div class="input-group-append">
                            <button class="btn btn-block btn-secondary btn-sm" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
                {% if message.message.admin_details %}
                <!-- Details for administrators -->
                <hr>
                <a data-toggle="collapse" href="#admin_details" aria-expanded="false" aria-controls="admin_details">
                    Details for system administrators
                </a>
                <div id="admin_details" class="collapse">
                    <div class="card card-body mt-3 mb-0" style="background-color: #6c757d;">
                        <code style="color: #fff;">
                            {{ message.message.admin_details }}
                        </code>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>