{% extends "weather_app/base.html" %}

{% block content %}
<div class="row justify-content-sm-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card card-{{ message.style }} shadow">
            <div class="card-header">
                <h3 class="card-title" style="margin: 0px; font-weight: bold;">
                    {{ message.headline }}
                </h3>
            </div>
            <div class="card-body">
                {% if message.description %}
                <div class="row justify-content-sm-center" style="margin-top: 0.75em; margin-bottom: 0.75em;">
                    <div class="col-sm-9" style="text-align: center;">
                        {{ message.description }}
                    </div>
                </div>
                {% endif %}
                {% if message.found_locations %}
                <div class="row justify-content-sm-center" style="margin-bottom: 0.75em;">
                    <div class="col-sm-9">
                        {% include 'weather_app/found_locations.html' %}
                    </div>
                </div>
                {% endif %}
                {% if message.show_search_form %}
                <div class="row justify-content-sm-center" style="margin-top: 0.75em; margin-bottom: 0.75em;">
                    <div class="col-sm-9">
                        {% include 'weather_app/search_form.html' %}
                    </div>
                </div>
                {% endif %}
                {% if user.is_superuser %}
                    {% if message.admin_details %}
                        <hr>
                        <h6>Details for admins:</h6>
                        <ul>
                        {% for item in message.admin_details %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}