<!-- Navbar -->
{% load static %}
<nav class="main-header navbar navbar-expand-lg navbar-light navbar-white">
    <div class="container">
        <!-- Brand -->
        <a href="{% url 'dashboard' %}" class="navbar-brand">
            <img src="{% static 'umbrella.svg' %}" alt="WeatherBoard Logo" class="brand-image">
            <span class="brand-text font-weight-light">WeatherBoard</span>
        </a>
        <!-- Expand/collapse button -->
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible menu -->
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Search form -->
            <form class="form-inline ml-0 ml-lg-auto mr-0" action="{% url 'search_location' %}" method="GET">
                <div class="input-group input-group-sm">
                    <input name="search_query" class="form-control form-control-navbar" type="search"
                        placeholder="Search location" aria-label="Search location" required>
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Main menu -->
            <ul class="navbar-nav ml-lg-auto">
                {% if user.is_authenticated %}
                <!-- Favorites -->
                <li class="nav-item dropdown">
                    <a id="favorites" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <i class="fas fa-heart"></i>
                        Favorites
                    </a>
                    <ul aria-labelledby="favorites" class="dropdown-menu border-0 shadow"
                        style="max-height: 320px; overflow-y: auto;">
                        {% if location %}
                        {% if location.is_favorite %}
                        <!-- Remove favorite -->
                        <li class="dropdown-item">
                            <form action="{% url 'update_location' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="location_id" value="{{ location.id }}">
                                <input type="hidden" name="latitude" value="{{ location.latitude }}">
                                <input type="hidden" name="longitude" value="{{ location.longitude }}">
                                <input type="hidden" name="label" value="{{ location.label }}">
                                <input type="hidden" name="is_favorite" value="False">
                                <button class="btn btn-block btn-secondary btn-sm" type="submit">
                                    <i class="fas fa-trash-alt"></i>
                                    Remove current location
                                </button>
                            </form>
                        </li>
                        {% else %}
                        <!-- Add favorite -->
                        <li class="dropdown-item">
                            <form action="{% url 'update_location' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="location_id" value="{{ location.id }}">
                                <input type="hidden" name="latitude" value="{{ location.latitude }}">
                                <input type="hidden" name="longitude" value="{{ location.longitude }}">
                                <input type="hidden" name="label" value="{{ location.label }}">
                                <input type="hidden" name="is_favorite" value="True">
                                <button class="btn btn-block btn-secondary btn-sm" type="submit">
                                    <i class="fas fa-heart"></i>
                                    Add current location
                                </button>
                            </form>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% if favorite_locations %}
                        {% for location in favorite_locations %}
                        <a
                            href="{% url 'dashboard' %}?latitude={{ location.latitude|urlencode }}&longitude={{ location.longitude|urlencode }}&label={{ location.label|urlencode }}">
                            <li class="dropdown-item">
                                <i class="fas fa-map-marker-alt"></i>
                                {{ location.label|truncatechars:28 }}
                            </li>
                        </a>
                        {% endfor %}
                        {% else %}
                        <li class="dropdown-item">
                            No favorites yet...
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <!-- History -->
                <li class="nav-item dropdown">
                    <a id="history" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <i class="fas fa-history"></i>
                        History
                    </a>
                    <ul aria-labelledby="history" class="dropdown-menu border-0 shadow"
                        style="max-height: 320px; overflow-y: auto;">
                        {% if location_history %}
                        {% for location in location_history %}
                        <a
                            href="{% url 'dashboard' %}?latitude={{ location.latitude|urlencode }}&longitude={{ location.longitude|urlencode }}&label={{ location.label|urlencode }}">
                            <li class="dropdown-item">
                                <i class="fas fa-map-marker-alt"></i>
                                {{ location.label|truncatechars:28 }}
                            </li>
                        </a>
                        {% endfor %}
                        {% else %}
                        <li class="dropdown-item">
                            No history yet...
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <!-- Random location -->
                <li class="nav-item">
                    <a href="{% url 'random_location' %}" class="nav-link">
                        <i class="fas fa-random"></i>
                        Random location
                    </a>
                </li>
                {% if user.is_authenticated %}
                <!-- User account menu -->
                <li class="nav-item dropdown">
                    <a id="userAccountMenu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <i class="fas fa-user"></i>
                        {{ user.username|title }}
                    </a>
                    <ul aria-labelledby="userAccountMenu" class="dropdown-menu border-0 shadow">
                        <!-- Log Out -->
                        <a
                            href="{% url 'logout_user' %}?latitude={{ location.latitude|urlencode }}&longitude={{ location.longitude|urlencode }}&label={{ location.label|urlencode }}">
                            <li class="dropdown-item">
                                <i class="fas fa-sign-out-alt"></i>
                                Log out
                            </li>
                        </a>
                        <!-- User profile -->
                        <a
                            href="{% url 'user_profile' %}?latitude={{ location.latitude|urlencode }}&longitude={{ location.longitude|urlencode }}&label={{ location.label|urlencode }}">
                            <li class="dropdown-item">
                                <i class="fas fa-address-card"></i>
                                User profile
                            </li>
                        </a>
                    </ul>
                </li>
                {% else %}
                <!-- Sign in menu -->
                <li class="nav-item dropdown">
                    <a id="userAccountMenu" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <i class="fas fa-sign-in-alt"></i>
                        Sign in
                    </a>
                    <ul aria-labelledby="userAccountMenu" class="dropdown-menu border-0 shadow">
                        <!-- Log In -->
                        <a
                            href="{% url 'login_user' %}?latitude={{ location.latitude|urlencode }}&longitude={{ location.longitude|urlencode }}&label={{ location.label|urlencode }}">
                            <li class="dropdown-item">
                                <i class="fas fa-key"></i>
                                Log in
                            </li>
                        </a>
                        <!-- Register -->
                        <a
                            href="{% url 'register_user' %}?latitude={{ location.latitude|urlencode }}&longitude={{ location.longitude|urlencode }}&label={{ location.label|urlencode }}">
                            <li class="dropdown-item">
                                <i class="fas fa-user-plus"></i>
                                Register
                            </li>
                        </a>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>