{% load static %}

<nav class="main-header navbar navbar-expand-sm navbar-light navbar-white">
    <div class="container" style="padding-left: 0rem; padding-right: 0rem;">
        <a href="{% url 'dashboard' %}" class="navbar-brand">
            <img src="{% static 'umbrella.svg' %}" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
            <span class="brand-text font-weight-light">WeatherBoard</span>
        </a>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-2" id="navbarCollapse">
            <div class="ml-auto form-inline">
                {% include 'weather_app/search_form.html' %}
            </div>
        </div>
    </div>
</nav>