<!-- navbar.html -->
{% load static %}
<nav class="main-header navbar navbar-expand-lg navbar-light navbar-white">
    <div class="container">
        <!-- Brand navlink -->
        <a class="navbar-brand" href="{% url 'dashboard' %}?display_mode={{ query.display_mode }}">
            <img src="{% static 'umbrella.svg' %}" alt="WeatherBoard Logo" class="brand-image">
            <span class="brand-text font-weight-light">WeatherBoard</span>
        </a>
        <!-- Expand/collapse button -->
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible -->
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            {% if location_search_page %}
            <!-- Navbar search form is hidden on the location search page -->
            {% else %}
            {% include 'weather_app/navbar/search_form.html' %}
            {% endif %}
            <!-- Main menu -->
            <ul class="navbar-nav ml-lg-auto">
                <!-- View options -->
                <li class="nav-item dropdown">
                    <a id="viewOptions" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <i class="far fa-eye"></i>
                        View
                    </a>
                    <ul aria-labelledby="viewOptions" class="dropdown-menu border-0 shadow">
                        <!-- 48 hours forecast -->
                        <form action="{% url 'dashboard' %}" method="GET">
                            <input type="hidden" name="display_mode" value="48h_detail">
                            <input type="hidden" name="label" value="{{ query.label }}">
                            <input type="hidden" name="latitude" value="{{ query.latitude }}">
                            <input type="hidden" name="longitude" value="{{ query.longitude }}">
                            <button class="dropdown-item" type="submit">
                                {% if query.display_mode == '48h_detail' %}
                                <i class="fas fa-check-square"></i>
                                {% else %}
                                <i class="far fa-square"></i>
                                {% endif %}
                                48 hours forecast
                            </button>
                        </form>
                        <!-- 7 days forecast -->
                        <form action="{% url 'dashboard' %}" method="GET">
                            <input type="hidden" name="display_mode" value="7d_detail">
                            <input type="hidden" name="label" value="{{ query.label }}">
                            <input type="hidden" name="latitude" value="{{ query.latitude }}">
                            <input type="hidden" name="longitude" value="{{ query.longitude }}">
                            <button class="dropdown-item" type="submit">
                                {% if query.display_mode == '7d_detail' %}
                                <i class="fas fa-check-square"></i>
                                {% else %}
                                <i class="far fa-square"></i>
                                {% endif %}
                                7 days forecast
                            </button>
                        </form>
                        <li class="dropdown-divider"></li>
                        <!-- Random location -->
                        <form action="{% url 'random_location' %}" method="GET">
                            <input type="hidden" name="display_mode" value="{{ query.display_mode }}">
                            <button class="dropdown-item" type="submit">
                                <i class="fas fa-random"></i>
                                Random location
                            </button>
                        </form>
                    </ul>
                </li>
                <!-- Favorites menu -->
                <li class="nav-item dropdown">
                    <a id="favorites" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <i class="fas fa-heart"></i>
                        Favorites
                    </a>
                    <ul aria-labelledby="favorites" class="dropdown-menu border-0 shadow"
                        style="max-height: 320px; overflow-y: auto;">
                        {% if user.is_authenticated %}
                        {% include 'weather_app/navbar/favorites.html' %}
                        {% else %}
                        {% include 'weather_app/navbar/login_required.html' %}
                        {% endif %}
                    </ul>
                </li>
                <!-- History menu -->
                <li class="nav-item dropdown">
                    <a id="history" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <i class="fas fa-history"></i>
                        History
                    </a>
                    <ul aria-labelledby="history" class="dropdown-menu border-0 shadow"
                        style="max-height: 320px; overflow-y: auto;">
                        {% if user.is_authenticated %}
                        {% include 'weather_app/navbar/history.html' %}
                        {% else %}
                        {% include 'weather_app/navbar/login_required.html' %}
                        {% endif %}
                    </ul>
                </li>
                <!-- Accounts menu -->
                {% if user.is_authenticated %}
                {% include 'weather_app/navbar/user_account_menu.html' %}
                {% else %}
                {% include 'weather_app/navbar/sign_in_menu.html' %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>