<!-- Register -->
{% extends 'weather_app/base.html' %}
{% block content %}
<div class="row justify-content-sm-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card card-lightblue shadow">
            <div class="card-header">
                <h3 class="card-title" style="margin: 0px; font-weight: bold;">
                    <i class="fas fa-user-plus"></i>
                    Register new user
                </h3>
            </div>
            <div class="card-body">
                <div class="row justify-content-sm-center" style="margin-top: 0.75em; margin-bottom: 0.75em;">
                    <div class="col-sm-9" style="text-align: center;">
                        {% if error_message %}
                        <div class="alert bg-danger">
                            <b>
                                <i class="icon fas fa-exclamation-triangle"></i>
                                {{ error_message }}
                            </b>
                        </div>
                        {% endif %}
                        <form method="POST" style="text-align: left;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" name="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password1">Password</label>
                                <input type="password" name="password1" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm password</label>
                                <input type="password" name="password2" class="form-control" required>
                            </div>
                            <input type="hidden" name="view_mode" value="{{ view_mode }}">
                            <input type="hidden" name="latitude" value="{{ location.latitude }}">
                            <input type="hidden" name="longitude" value="{{ location.longitude }}">
                            <input type="hidden" name="label" value="{{ location.label }}">
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fas fa-user-plus"></i>
                                    Register
                                </button>
                            </div>
                        </form>
                        <hr>
                        Already registered?
                        <form action="{% url 'login_user' %}" method="GET">
                            <input type="hidden" name="view_mode" value="{{ view_mode }}">
                            <input type="hidden" name="latitude" value="{{ location.latitude }}">
                            <input type="hidden" name="longitude" value="{{ location.longitude }}">
                            <input type="hidden" name="label" value="{{ location.label }}">
                            <button type="submit" class="btn btn-link">Login existing user</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}