<form action="{% url 'search_location' %}" method="GET">
    <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" name="search_text" type="search"
            placeholder="Search location" aria-label="Search location">
        <div class="input-group-append">
            <button class="btn btn-block btn-outline-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="input-group-append">
            <a href="{% url 'random_location' %}" class="btn btn-block btn-outline-secondary btn-sm">
                Random
            </a>
        </div>
    </div>
</form>