<!-- search_location.html -->
{% extends 'weather_app/base.html' %}
{% load static %}
{% block content %}
<div>
    <h2 class="ml-2 mr-2 mt-2 mb-4" style="font-weight: 400; text-align: center;">
        Detailed weather forecast for up to 7&nbsp;days
    </h2>
    <div class="row justify-content-sm-center ml-2 mr-2">
        <div class="col-sm-9 col-md-7 col-lg-5 col-xl-4">
            <!-- Search form -->
            <form action="{% url 'search_location' %}" method="GET">
                <div class="input-group input-group-md">
                    <input type="hidden" name="display_mode" value="{{ query.display_mode }}">
                    <input name="search_text" class="form-control" type="search" placeholder="Search location"
                        aria-label="Search location" required>
                    <div class="input-group-append">
                        <button class="btn btn-block btn-secondary btn-md" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <img class="mt-4 mb-5" src="{% static 'earth.svg' %}" alt="Image of the planet Earth"
                style="aspect-ratio: 1;">
            <br>
        </div>
    </div>
</div>
{% endblock content %}