<!-- User profile -->
{% extends 'weather_app/base.html' %}
{% block content %}
<div class="row justify-content-sm-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card card-lightblue shadow">
            <div class="card-header">
                <h4 class="card-title" style="margin: 0px; font-weight: bold;">
                    <i class="fas fa-address-card"></i>
                    User profile options
                </h4>
            </div>
            <div class="card-body">
                <form action="{% url 'dashboard' %}" method="GET">
                    <input type="hidden" name="view_mode" value="{{ view_mode }}">
                    <input type="hidden" name="latitude" value="{{ location.latitude }}">
                    <input type="hidden" name="longitude" value="{{ location.longitude }}">
                    <input type="hidden" name="label" value="{{ location.label }}">
                    <div style="text-align: left;">
                        <button type="submit" class="btn btn-link">
                            <i class="fas fa-arrow-circle-left"></i>
                            <b>Go back to Weather</b>
                        </button>
                </form>
                <div class="row justify-content-sm-center" style="margin-top: 0.75em; margin-bottom: 0.75em;">
                    <div class="col-sm-9" style="text-align: center;">
                        {% if error_message %}
                        <div class="alert bg-danger">
                            <b>
                                <i class="icon fas fa-exclamation-triangle"></i>
                                {{ error_message }}
                            </b>
                        </div>
                        {% elif success_message %}
                        <div class="alert bg-success">
                            <b>
                                <i class="fas fa-check-circle"></i>
                                {{ success_message }}
                            </b>
                        </div>
                        {% endif %}
                        <!-- Change password form -->
                        <h4>
                            Change my password
                        </h4>
                        <form method="POST" autocomplete="False" style="text-align: left;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">
                                    Username
                                </label>
                                <input type="text" name="username" value="{{ user.username }}" class="form-control"
                                    readonly>
                            </div>
                            <div class="form-group">
                                <label for="password">
                                    Current password
                                </label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="new_password1">
                                    New password
                                </label>
                                <input type="password" name="new_password1" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="new_password2">
                                    Repeat new password
                                </label>
                                <input type="password" name="new_password2" class="form-control" required>
                            </div>
                            <input type="hidden" name="view_mode" value="{{ view_mode }}">
                            <input type="hidden" name="latitude" value="{{ location.latitude }}">
                            <input type="hidden" name="longitude" value="{{ location.longitude }}">
                            <input type="hidden" name="label" value="{{ location.label }}">
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fas fa-lock"></i>
                                    Set new password
                                </button>
                            </div>
                        </form>
                        <hr>
                        <!-- Clear history form -->
                        <h4 class="mt-4">
                            Clear my history
                        </h4>
                        <form method="POST" autocomplete="False" style="text-align: left;">
                            {% csrf_token %}
                            <div class="custom-control custom-checkbox mt-3">
                                <input class="custom-control-input" type="checkbox" id="clear_history" required
                                    name="clear_history" value="True">
                                <label for="clear_history" class="custom-control-label">
                                    Clear my location history
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-3">
                                <input class="custom-control-input" type="checkbox" id="preserve_favorites" checked
                                    name="preserve_favorites" value="True">
                                <label for="preserve_favorites" class="custom-control-label">
                                    Preserve my favorites
                                </label>
                            </div>
                            <div class="form-group mt-3">
                                <label for="username">
                                    Username
                                </label>
                                <input type="text" name="username" value="{{ user.username }}" class="form-control"
                                    readonly>
                            </div>
                            <div class="form-group mt-3">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <input type="hidden" name="view_mode" value="{{ view_mode }}">
                            <input type="hidden" name="latitude" value="{{ location.latitude }}">
                            <input type="hidden" name="longitude" value="{{ location.longitude }}">
                            <input type="hidden" name="label" value="{{ location.label }}">
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-warning">
                                    <i class="fas fa-trash-alt"></i>
                                    Clear my history
                                </button>
                            </div>
                        </form>
                        <hr>
                        <!-- Delete user account form -->
                        <h4 class="mt-4">
                            Delete my account
                        </h4>
                        <form method="POST" autocomplete="False" style="text-align: left;">
                            {% csrf_token %}
                            <div class="custom-control custom-checkbox mt-3">
                                <input class="custom-control-input" type="checkbox" id="delete_account" required
                                    name="delete_account" value="True">
                                <label for="delete_account" class="custom-control-label">
                                    Completely delete my account
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox mt-3">
                                <input class="custom-control-input" type="checkbox" id="i_am_sure" required
                                    name="i_am_sure" value="True">
                                <label for="i_am_sure" class="custom-control-label">
                                    Yes, I am sure!
                                </label>
                            </div>
                            <div class="form-group mt-3">
                                <label for="username">
                                    Username
                                </label>
                                <input type="text" name="username" value="{{ user.username }}" class="form-control"
                                    readonly>
                            </div>
                            <div class="form-group mt-3">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <input type="hidden" name="view_mode" value="{{ view_mode }}">
                            <input type="hidden" name="latitude" value="{{ location.latitude }}">
                            <input type="hidden" name="longitude" value="{{ location.longitude }}">
                            <input type="hidden" name="label" value="{{ location.label }}">
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-user-alt-slash"></i>
                                    Delete my account
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}