{% extends "weather_app/base.html" %}

{% block content %}

<br>

<h1>{{ location.properties.label }}</h1>

<h5>{{ weather.current.dt|date:"j. F Y, H:i" }}</h5>

<!-- <h5>{{ weather.current.dt|date:"" }}</h5> -->

<br>

<h1>
    <img src="http://openweathermap.org/img/wn/{{ weather.current.weather.0.icon }}@2x.png" alt="">
    {{ weather.current.temp|floatformat:1 }} °C / {{ weather.current.weather.0.description }}
</h1>

<br>

<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">Temperature feels like</th>
            <td>{{ weather.current.feels_like }} °C</td>
        </tr>
        <tr>
            <th scope="row">Atmospheric pressure on the sea level</th>
            <td>{{ weather.current.pressure }} hPa</td>
        </tr>
        <tr>
            <th scope="row">Humidity</th>
            <td>{{ weather.current.humidity }} %</td>
        </tr>
        <tr>
            <th scope="row">Dew point</th>
            <td>{{ weather.current.dew_point }} °C</td>
        </tr>
        <tr>
            <th scope="row">Cloudiness</th>
            <td>{{ weather.current.clouds }} %</td>
        </tr>
        <tr>
            <th scope="row">UV index</th>
            <td>{{ weather.current.uvi }}</td>
        </tr>
        <tr>
            <th scope="row">Visibility (average)</th>
            <td>{{ weather.current.visibility }} m</td>
        </tr>
        <tr>
            <th scope="row">Wind speed</th>
            <td>{{ weather.current.wind_speed }} m/sec.</td>
        </tr>
        <tr>
            <th scope="row">Wind gust</th>
            <td>{{ weather.current.wind_gust }} m/sec.</td>
        </tr>
        <tr>
            <th scope="row">Wind direction</th>
            <td>{{ weather.current.wind_deg }} °</td>
        </tr>
        <tr>
            <th scope="row">Rain volume for last hour</th>
            <td>{{ weather.current.rain.1h }} mm/h</td>
        </tr>
        <tr>
            <th scope="row">Snow volume for last hour</th>
            <td>{{ weather.current.snow.1h }} mm/h</td>
        </tr>
        <tr>
            <th scope="row">Sunrise</th>
            <td>{{ weather.current.sunrise|date:"H:i" }}</td>
        </tr>
        <tr>
            <th scope="row">Sunset</th>
            <td>{{ weather.current.sunset|date:"H:i" }}</td>
        </tr>
    </tbody>
</table>


{% endblock content %}