{% extends "weather_app/base.html" %}

{% block header %}Weather Dasboard{% endblock header %}

{% block content %}

{% if message %}
{% include 'weather_app/widgets/message.html' %}
{% endif %}
    
<div class="row">
    
    {% if weather %}
    <div class="col-lg-6 col-xl-4">

        {% include 'weather_app/widgets/current_weather_summary.html' %}

    </div>
    <div class="col-lg-6 col-xl-4">
        
        {% include 'weather_app/widgets/current_weather_details.html' %}

    </div>
    <div class="col-lg-6 col-xl-4">
        
        {% include 'weather_app/widgets/precipitations_1_hour.html' %}

    </div>
    {% endif %}

</div>

{% endblock content %}