{% extends "weather_app/base.html" %}

{% block header %}Weather Dasboard{% endblock header %}

{% block content %}


<div class="info-box bg-info">
    <div class="info-box-content">
        <h1><i class="far fa-crosshairs"></i> {{ selected_location.properties.label }}</h1>
        <h4>{{ weather.current.dt|date:"l, j. F Y, H:i" }}</h4>
        <h1>
            <img src="http://openweathermap.org/img/wn/{{ weather.current.weather.0.icon }}@2x.png" alt="">
            <b>{{ weather.current.temp|floatformat:1 }} °C</b> (feels like
            {{ weather.current.feels_like|floatformat:1 }} °C)
        </h1>
        <h2><i>{{ weather.current.weather.0.description|title }}</i></h2>
    </div>
</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"
    integrity="sha256-yz7K02nILYEeRDwEfzu/1zI9SpBKod/nLYMTFh7vszs=" crossorigin="anonymous"></script>

<div class="card card-primary">
    <div class="card-header">
        <h1 class="card-title"><i class="far fa-cloud-showers-heavy"></i> Precipitations in next 60 minutes</h1>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="chart">
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class="">
                    </div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class="">
                    </div>
                </div>
            </div>
            <canvas id="myChart"
                style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 412px;"
                width="412" height="250" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
</div>


<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ chart_data.minutely.dt | safe }},
    datasets: [{
        label: 'Precipitation volume [mm]',
        data: {{ chart_data.minutely.precipitation | safe }},
        backgroundColor: [
        'rgba(0, 0, 255, 1)',

    ],
        borderColor: [
        'rgba(0, 0, 0, 0)',

    ],
        borderWidth: 1
            }]
        },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
</script>


<table class="table table-hover">
    <tbody>
        <tr>
            <th scope="row">Temperature feels like</th>
            <td>{{ weather.current.feels_like }} °C</td>
        </tr>
        <tr>
            <th scope="row">Atmospheric pressure on the sea level</th>
            <td>{{ weather.current.pressure }} hPa</td>
        </tr>
        <tr>
            <th scope="row">Humidity</th>
            <td>{{ weather.current.humidity }} %</td>
        </tr>
        <tr>
            <th scope="row">Dew point</th>
            <td>{{ weather.current.dew_point }} °C</td>
        </tr>
        <tr>
            <th scope="row">Cloudiness</th>
            <td>{{ weather.current.clouds }} %</td>
        </tr>
        <tr>
            <th scope="row">UV index</th>
            <td>{{ weather.current.uvi }}</td>
        </tr>
        <tr>
            <th scope="row">Visibility (average)</th>
            <td>{{ weather.current.visibility }} m</td>
        </tr>
        <tr>
            <th scope="row">Wind speed</th>
            <td>{{ weather.current.wind_speed }} m/sec.</td>
        </tr>
        <tr>
            <th scope="row">Wind gust</th>
            <td>{{ weather.current.wind_gust }} m/sec.</td>
        </tr>
        <tr>
            <th scope="row">Wind direction</th>
            <td>{{ weather.current.wind_deg }} °</td>
        </tr>
        <tr>
            <th scope="row">Rain volume for last hour</th>
            <td>{{ weather.current.rain.1h }} mm/h</td>
        </tr>
        <tr>
            <th scope="row">Snow volume for last hour</th>
            <td>{{ weather.current.snow.1h }} mm/h</td>
        </tr>
        <tr>
            <th scope="row">Sunrise</th>
            <td>{{ weather.current.sunrise|date:"H:i" }}</td>
        </tr>
        <tr>
            <th scope="row">Sunset</th>
            <td>{{ weather.current.sunset|date:"H:i" }}</td>
        </tr>
    </tbody>
</table>


{% endblock content %}